.card_seaction {
    width: 70%;
}
.img-fluid {
    object-fit: cover;
}
.card {
    background-color: #f5f5f5d1 !important;
    border-radius: 20px;
    .card-body {
        text-align: center;
    }
}

.survey-card{
    // margin-top: 13%;
    padding: 10px 6%;
}

.card-footer{
    background-color: rgb(245 245 245 / 0%) !important;
    border: none !important;
}